<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
 
  <meta name="twitter:site" content="@BSidesVienna">
  <meta property="og:site_name" content="{{ site.name | xml_escape }}" />
  <meta property="og:title" content="{{ page.title | xml_escape }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@BSidesVienna" />
  <meta name="twitter:creator" content="@BSidesVienna" />
  <meta name="twitter:title" content="{{ page.title | xml_escape }}">
  <meta name="twitter:description" content="{{ site.name | xml_escape }}">
  <meta property="og:image" content="https://bsidesvienna.at/img/bsides_logo_small.jpg" />
  <meta name="twitter:image" content="https://bsidesvienna.at/img/bsides_logo_small.jpg" />
  <meta property="article:author" content="https://twitter.com/BSidesVienna"/>

  <!-- Theme from https://github.com/kristopolous/BOOTSTRA.386 -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bsides.css">

  <script src="//code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/scripts/bsides.js" type="text/javascript"></script>
  <script type="text/javascript">_386 = { onePass: false, speedFactor: 1.8 };</script>
  <noscript>
    <!-- Show the body if javascript is disabled -->
    <style type="text/css">
      body {
        visibility: visible;
      }
    </style>
  </noscript>

  <title>{{ site.name }} - {{ page.title }} </title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse"></button>
      <a class="brand" href="/archive/{{ year }}/">Archive {{ year }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/" title="main">Current year</a>
          </li>
{%- assign sorted_pages = site.pages | sort:"name" %}
  {%- for p in sorted_pages %}
    {%- if p.archive == true %}
      {%- capture archive_year %}{{ year }}{% endcapture %}
      {%- capture page_year %}{{ p.year }}{% endcapture %}
      {%- if page_year == archive_year %}
        {%- unless p.nomenu == true %}
        {%- if p.title %}
          {%- if page.url == p.url %}
          <li class="active">
            <a href="{{p.permalink}}" title="{{p.title}}">{{p.title}}</a>
          </li>
          {%- else %}
          <li>
            <a href="{{p.permalink}}" title="{{p.title}}">{{p.title}}</a>
          </li>
          {%- endif %}
        {%- endif %}
        {%- endunless %}
      {%- endif %}
    {%- endif %}
  {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
