<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="{{ site.url }}">

  <!-- Theme from https://github.com/kristopolous/BOOTSTRA.386 -->
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-responsive.css" media="screen" />

  <title>{{ site.name }} {{ site.year }} - {{ page.title }} </title>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        {% assign sorted_pages = site.pages | sort:"name" %}
          {% for p in sorted_pages %}
            {% unless p.nomenu == true %}
              {% if page.url == p.url %}
                {% assign class_active = 'active' %}
              {% endif %}
              <a href="{{p.permalink}}" title="{{p.title}}" class="brand">{{p.title}}</a>
            {% endunless %}
          {% endfor %}
      </div>
    </div>
  </div>
