<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <base href="{{ site.url }}">

  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/social.css" />

  <title>{{ site.name }} {{ site.year }} - {{ page.title }} </title>
</head>

<body>
  <header>
    <div class="container">
      <div class="soc-links">
        <a class="soc-link-twitter" href="https://twitter.com/BSidesVienna" target="_blank"></a>
      </div>
      <h2>{{ site.name }} {{ site.year }}</h2>    
      <h1>{{ page.title }}</h1>
    </div>
    <div class="container">
    <p>
    {% assign sorted_pages = site.pages | sort:"name" %}
    {% for p in sorted_pages %}
      {% unless p.nomenu == true %}
        <a href="{{p.permalink}}" title="{{p.title}}">{{p.title}}</a>
      {% endunless %}
    {% endfor %}
    </p>
    </div>

  </header>
