.soc-links {
	position: relative;
	display: inline-block;
	overflow:hidden;
	float: right;
	margin-top: 5px;
}
.soc-links a {
	display:block;
	width:35px;
	height:34px;
	margin-bottom: 5px;
}
.soc-links a:hover {
	background-position:0 -34px;
}

.soc-link-facebook {
	background:url('../images/soc_icon_facebook.png') no-repeat 0 0 ;
}
.soc-link-twitter {
	background:url('../images/soc_icon_twitter.png') no-repeat 0 0 ;
}
.soc-link-google {
	background:url('../images/soc_icon_google.png') no-repeat 0 0 ;
}

