{%- include header.html %}

<div class="container">
  <div class="page-header">
    <h1>{{ site.evt_year }} -{{ page.title }}</h1>
  </div>

  <section id="content">
    {{ content }}
    <div>
      <h2>Past Events</h2>
      <a
        href="https://cfp.bsidesvienna.at/bsidesvienna-0x7e9-2025/talk/"
        target="_blank"
        >2025</a
      >
    </div>
    <div>
      <a href="https://cfp.bsidesvienna.at/bsv2024/talk/" target="_blank"
        >2024</a
      >
    </div>
    <div>
      <a
        href="https://cfp.bsidesvienna.at/bsidesvienna-0x7e7/talk/"
        target="_blank"
        >2023</a
      >
    </div>
    <div>
      <a
        href="https://cfp.bsidesvienna.at/bsidesvienna-2022/talk/"
        target="_blank"
        >2022</a
      >
    </div>
    <div>
      <a href="https://cfp.bsidesvienna.at/bsv19/talk/" target="_blank">2019</a>
    </div>
  </section>
</div>

{%- include footer.html %}
